Package: begin
Version: 0.1.1-1
Architecture: amd64
Maintainer: Mikael Nordin <mik@elnord.in>
Installed-Size: 382
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.4.0)
Section: text
Priority: optional
Homepage: https://github.com/mickenordin/begin
Description: This is an output modifier
 Begin is a free implementation of the Cisco command "begin", an output modifier
 that prints all lines including the first line that matches a regex.
